body{
	background: url('../img/kanye-strip.jpg');
	background-size: cover;
	background-position: 0 0;
}
h1{
	font-family: sans-serif;
	color: white;
	text-shadow: 3px 3px 10px black;
	text-align: center;
}