html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  font-family: monospace; }

.frames {
  display: none;
  font-size: 9px;
  line-height: 5px;
  -webkit-transform-origin: 0 0;
  overflow: hidden; }
  .frames .inner {
    position: relative; }
  .frames .frame {
    float: left; }

.tweet-data {
  position: fixed;
  bottom: 4em;
  left: 2em;
  padding: .5em;
  font-family: monospace;
  font-size: 14px;
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.6); }
  .tweet-data .bold {
    font-weight: bold; }

.tweet-display {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 500px;
  margin-top: -20px;
  margin-left: -250px;
  font-weight: bold;
  font-size: 14px;
  padding: 1em;
  background: rgba(255, 255, 255, 0.6); }
  .tweet-display p {
    line-height: 1.5; }

.chart-canvas-wrap {
  height: 130px;
  width: 250px;
  overflow: hidden;
  position: fixed;
  z-index: 5;
  bottom: 20px;
  right: 2em;
  padding: 1em;
  background: rgba(255, 255, 255, 0.6); }

.social {
  position: fixed;
  bottom: 12px;
  left: 23px; }
  .social a {
    color: black;
    margin-left: .2em;
    line-height: 30px;
    font-size: 30px;
    opacity: .5;
    transition: .2s all;
    -webkit-transition: .2s all;
    -moz-transition: .2s all; }
    .social a:hover {
      opacity: 1; }
