@import 'reset';
$body-padding: 2em;
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: monospace;
}
.frames{
    display: none;
    font-size: 9px;
    line-height: 5px;
    -webkit-transform-origin: 0 0;
    overflow: hidden;
    .inner{
        position: relative;
    }
    .frame{
        float: left;
    }
}
@mixin transparent_bg{
    background: rgba(255,255,255,0.6);
}
.tweet-data{
    position: fixed;
    bottom: $body-padding * 2;
    left: $body-padding;
    padding: .5em;
    font-family: monospace;
    font-size: 14px;
    text-transform: uppercase;
    @include transparent_bg;
    .bold{
        font-weight: bold;
    }
}
.tweet-display{
    $width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    width: $width;
    margin-top: -20px;
    margin-left: -($width / 2);
    font-weight: bold;
    font-size: 14px;
    padding: 1em;
    @include transparent_bg;
    p{
        line-height: 1.5;
    }
}
.chart-canvas-wrap{
    $height: 130px;
    $width: 250px;
    height: $height;
    width: $width;
    overflow: hidden;
    position: fixed;
    z-index: 5;
    bottom: 20px;
    right: $body-padding;
    padding: 1em;
    @include transparent_bg;
}
.social{
    position: fixed;
    bottom: 12px;
    left: 23px;
    a{
        color: black;
        margin-left: .2em;
        line-height: 30px;
        font-size: 30px;
        opacity: .5;
        transition: .2s all;
        -webkit-transition: .2s all;
        -moz-transition: .2s all;
        &:hover{
            opacity: 1;
        }
    }
}